# Your backup config

# Database container settings
container_name: wordpress_db

# File paths
backup_dir: /path/where/to/store/backup
env_file: /path/to/env-file/of/your/container

# Backup settings
retention_days: 30
compression_level: 6

# Email notification settings
email_settings: /path/to/e-mail-settings
